@charset "UTF-8";

.foto-alimento{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	object-fit: cover;
	border: 3px solid gray;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	/*box-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;*/
}
